<% content_for :main do %>
    <%= include_gon %>
    <%= javascript_include_tag "d3/d3.min.js" %>
    <%= javascript_include_tag "d3/d3.layout.cloud.js" %>

	<div align="center">
		<h1>Clipped Entries</h1>

		<%= link_to 'Visualization', :action => :vis %>

		<br />
	</div>
	<%= render 'shared/entries' %>

<% end %>

