<% content_for :main do %>
    <%= include_gon %>
    <%= javascript_include_tag "d3/d3.min.js" %>
    <%= javascript_include_tag "d3/d3.layout.cloud.js" %>

<h1>Visualization of Clipped Entries</h1>

    <%= link_to 'All Entries', entries_path %>
    <%= link_to 'Feeds', feeds_path %>
    <%= link_to 'Categories', categories_path %>

    <br />

    <div id="word_cloud"></div>
	<div><%= @results %></div>

	<script type="text/javascript">
	//word_cloud();
	</script>

<% end %>
