<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <title>Feedog</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%# javascript_include_tag "jquery", "jquery_ujs" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="menubar" data-scroll="true">
      <ul class="mainmenu">
        <li><%# link_to('Home', root_path) -%></li>
        <li><%= link_to('Entries', entries_path) -%></li>
        <li><%= link_to('Clips', clips_index_path) -%></li>
		<li><%= link_to('Feeds', feeds_path) -%></li>
		<li><a id="open_categories">Categories</a></li>
      </ul>
	  <div id="submenu">
		  <hr size="2", color="#FFFFFF" />
		  <ul class="mainmenu">
			  <li><%= link_to 'All', categories_path -%></li>
			  <% @categories.each do |category| %>
				  <li><%= link_to category.name, category -%></li>
			  <% end %>
		  </ul>		  
	  </div>
    </div>
    <div id="container">
      <div id="main">
        <%= yield :main %>
      </div>
      <div id="footer">
		  <!--Copyright &copy manmaru. All Right reserved.-->
	  </div>
    </div>
  </body>
</html>
